body, html {
    height: 100%;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.background-image {
    background-image: url('../images/login/scottsdale_1.png');
    background-size: cover;
    height: 50%;
}

.white-area {
    background-color: white;
    height: 50%;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1.25rem;
    border-radius: 4.6875rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    width: 25rem;
    height: 34rem; /* Adjusted height */
    max-width: 90%;
}

.inicio-sesion {
    position: relative;
    text-align: center;
    font-size: 1.5625rem;
    font-weight: 480;
    top: 10px;
}

.inicio-sesion2 {
    position: relative;
    text-align: center;
    font-size: 0.75rem;
    color: #6C757D;
}

.Logo {
    position: relative;
    left: 40%;
    top: 15px;
    width: 70px;
    height: 70px;
}

.label {
    font-size: 0.75rem;
    margin-left: 25px;
    margin-top: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
    width: 80%;
    height: 1.25rem;
    padding: 1.25rem;
    margin-bottom: 1.25rem; /* Adjusted */
    margin-left: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    bottom: 10px;
    margin-top: 10px;
}

.login-box input[type="password"] {
    background-image: url('../images/login/icon-wrapper.png');
    background-position: right 10px center;
    background-repeat: no-repeat;
}

.remember-me-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

.checkbox {
    margin-right: 5px;
    margin-bottom: 10px; /* Adjusted */
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.checkbox:checked {
    background-color: #04AA6D;
}

.recuerdame {
    font-size: 0.75rem;
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 7px;
}

.forgot-password {
    margin-left: auto;
    font-size: 0.75rem;
    margin-right: 35px;
    margin-top: 10px;
    color: blue;
    text-decoration: underline;
}

.login-box-button {
    background-color: #283343;
    color: white;
    border: none;
    margin-left: 25px;
}

.login-box-button:hover {
    background-color: #13161c;
    color: white;
}

.google-login-button {
    width: 86%;
    height: 27px;
    background-color: white;
    color: #6AA6DD;
    border: 1px solid #6AA6DD;
    margin-top: 10px; /* Adjusted */
    background-image: url('../images/login/icon-wrapper-h.png');
    background-position: 80px center;
    background-repeat: no-repeat;
    margin-right: 25px; /* Adjusted */
    text-indent: 20px;
}

.login-box button, .google-login-button {
    width: 86%;
    height: 27px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 25px;
}

.tienes-cuenta {
    position: relative;
    font-size: 0.75rem;
    left: 85px;
    top: 10px;
}

.register-link {
    position: relative;
    text-decoration: underline;
    color: #6AA6DD;
    font-size: 0.75rem;
    left: 5px;
}
