body {
    background-color: #606670;
    /* Blue background color */
}

.navbar {
    background-color: #292A47;
}

.navbar_img {
    filter: invert(40%) sepia(6%) saturate(1173%) hue-rotate(177deg) brightness(91%) contrast(79%);
}

.main-content {
    background-color: rgb(255, 255, 255);
    height: 70vh;
    border-radius: 10px;

}

.main-content>* {
    margin-left: 2rem;
    margin-right: 1rem;
}

.main-content {

    padding: 2rem;
}

.main-content h3 {
    margin-top: 10px;
    /* Adding margin-top for the heading */
}

.main-content p {
    margin-top: 10px;
    /* Adding margin-top for the paragraphs */
}