.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

}

.proyect-col {
    background-color: #f0f0f0;
    width: 89%;

}

.proyect-col:nth-child(even) {
    background-color: #ddd;
}

