* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.navbar-main-direction {
    display: flex;
    flex-direction: row;
}

.navbar {
    height: 100vh;
    width: 5rem;
    position: fixed;
    background-color: #2D1154;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navbar div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
    margin-top: 2rem;
}

.navbar a img {
    width: 30px;
    height: auto;
    fill: white;
}

main {
    margin-left: 10rem;
    margin-top: 5rem;
    margin-right: 10rem;
    width: 90%;
}
/* Path: style/home.css */


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

}

.proyect-col {
    background-color: #f0f0f0;
    width: 89%;

}

.proyect-col:nth-child(even) {
    background-color: #ddd;
}

#add-client-button {
    margin-left: 5rem;
    width: 50%;
}

.pagination-wrap { 
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}

.searchbar-icons {
    display: flex;
    justify-content: space-between;
    width: 20%;
}